<header>
  <div class="container-fluid">
    <a href="/">
      <img src="../assets/logo.png" class="img-fluid mt-3" alt="Sportfolio">
    </a>
  </div>
</header>
<div class="container-fluid content-container">
  <div class="row w-100">
    <div class="col-12 col-sm-5">
      <div class="text-content mb-5">
        <h2>We Put Sport</h2>
        <p>at the forefront of your career path.</p>
      </div>
      <form  [formGroup]="userEmail" (ngSubmit)="formSubmit()">
        <div class="form-group">
          <input type="email" class="form-control" name="email" formControlName="email" placeholder="Your Email" [(ngModel)]="emailid">
        </div>
        <p class="text-white">{{message}}</p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Notify Me Of Updates</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="mobile-img text-center">
  <img src="../assets/mobile-img.png" class="img-fluid" alt="Image">
</div>



<router-outlet></router-outlet>